#grid-whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 85%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:90%;
}
.cell{
    background-color: wheat;
    padding-left:5%;
    padding-right:5% ;
    border:1px solid white;
    cursor: pointer;
}
.rat{
    background-image: url("https://cdn.pixabay.com/photo/2016/06/21/20/23/lab-mouse-1471870_1280.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.house{
    background-color: snow;
    background-image: url("https://img.freepik.com/free-vector/scene-with-house-little-pond_1308-103343.jpg?w=2000");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 13px;
}
.selected{
    background-color: red;
}
#solution{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}
#solution>#solution-save{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#solution>div>label{
    margin-right: 1%;
}
#solution>*{
    width:100%;
    height: 100%;
}
#save-btn{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    height: 97%;
    width:4%;
    border-radius: 10px;
}
#save-btn:hover{
    height: 100%;
    width: 5%;
}

